<header class="text-center">
  <h2>{{@model.name}}</h2>
  <h4 class="description">{{@model.description}}</h4>
</header>

<section class="flex justify-center no-scroll-x">
  <Question
    @question={{this.currentQuestion}}
    @answer={{this.selectedAnswerForCurrentQuestion}}
    @hasNext={{this.canShowNext}}
    @hasPrevious={{this.canShowPrevious}}
    @onNext={{this.showNextQuestion}}
    @onPrevious={{this.showPreviousQuestion}}
    @onSave={{this.saveResponse}}
    @isSaving={{this.isSaving}}
    class={{this.animationClassName}}
  />
</section>