<label
  class={{@labelClass}}
  role="radio"
  aria-checked={{this.checked}}
  data-test-id={{concat "radio-button-" @value}}
>
  <input
    type="radio"
    value={{@value}}
    name={{@groupName}}
    checked={{this.checked}}
    {{on "click" (fn @onChange @value)}}
  />
  {{@label}}
</label>