<div
  class="card flex flex-column slide-in"
  {{did-update this.updateValue @answer}}
  {{did-insert this.updateValue}}
  data-test-id={{concat "question-" @question.identifier}}
  ...attributes
>
  {{#if @isSaving}}
    <Loading />
  {{else}}
    <header>
      <div class="flex justify-end">
        {{#if @hasPrevious}}
          <div
            role="button"
            aria-label="Previous Question"
            data-test-id="previous"
            {{on "click" (fn @onPrevious this.value)}}
          >
            {{inline-svg "right-arrow" class="icon icon-md cursor-pointer left-arrow"}}
          </div>
        {{/if}}

        {{#if @hasNext}}
          <div
            role="button"
            aria-label="Next Question"
            aria-disabled={{this.isNextDisabled}}
            data-test-id="next"
            {{on "click" (fn (if this.isNextDisabled (no-op) @onNext) this.value)}}
          >
            {{inline-svg
              "right-arrow"
              class=(concat
                "icon icon-md cursor-pointer left-margin "
                (if this.isNextDisabled "icon-disabled")
              )
            }}
          </div>
        {{else}}
          <div role="button" aria-label="Save" data-test-id="save" {{on "click" @onSave}}>
            {{inline-svg "save" class="icon icon-md cursor-pointer left-margin"}}
          </div>
        {{/if}}
      </div>

      <div class="card-content-header" data-test-id="question-header">
        {{@question.headline}}
        {{#if @question.required}}
          <span data-test-id="mandatory-question"> *</span>
        {{/if}}
      </div>
      <p class="card-content-desc">
        {{@question.description}}
      </p>
    </header>

    <section class="form-field">
      {{#if this.isTextField}}
        <TextField
          @value={{@answer}}
          @isTextArea={{this.isTextAreaField}}
          @onChange={{this.onValueChange}}
          @onEnter={{fn @onNext this.value}}
        />
      {{else if this.isRadioField}}
        <RadioGroup
          @options={{@question.choices}}
          @groupName={{@question.identifier}}
          @groupValue={{@answer}}
          @labelProperty="label"
          @valueProperty="value"
          @onChange={{@onNext}}
        />
      {{else if this.isCheckboxField}}
        <MultiSelectCheckbox
          @options={{@question.choices}}
          @value={{@answer}}
          @labelProperty="label"
          @valueProperty="value"
          @onChange={{this.onValueChange}}
          @labelClass="form-field-label option"
        />
      {{/if}}
    </section>
  {{/if}}
</div>